.col-md-2 {
    text-align: center
}

/* #blank {
    color: white;
} */

.btn {
    width: 120px;
    height: 80px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

#scrBrd {
    text-align: center;
}
.lead {
    text-align: center;
}
